// global scss variables

$mainBackgroundColor: rgb(28, 5, 46);
$darkerBackgroundColor: rgb(19, 3, 31);
$lighterBackgroundColor: rgb(63, 13, 100);
$mainBorderColor: rgb(28, 5, 46);
$fontColor: #dddddd;